/* colors used
teal: #008080 
pink:#F9E6F0
gray:#E9EAEC
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mainHomepage {
  display: flex;
  justify-content: center;
  background: #e9eaec;
  margin-top: 20px;
}

.subContainer {
  max-width: 1441px;
  width: 100%;
  height: auto;
  margin-top: 70px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 165px 0px 179px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000;
}

.content .title-motion {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: var(--font-roboto);
}

.content .desc {
  font-size: 28px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  margin-right: 10px;
}

.btns {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 150px;
  /* margin-bottom: -20px; */
}

.btns .contactmeBtn {
  text-decoration: none;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 600;
  padding: 15px 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  background: #008080;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

a {
  z-index: 1;
}

.btns .cvBtn {
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 600;
  padding: 15px 20px;
  margin-left: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  background: #008080;
  cursor: pointer;
  position: relative;
}

.myImage {
}

.myImage img {
  max-width: 300px;
  height: 390px;
  border-radius: 5%;
}

.typeWriter {
  color: #000;
}

@media screen and (max-width: 890px) {
  .container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 500px) {
  .btns {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-right: 157px; */
    width: max-content;
    gap: 20px;
  }

  .btns .contactmeBtn {
    margin-bottom: 20px;
  }
}

/* @media screen and (max-width: 600px) {
  .bts {
    margin-right: 20px;
  }
} */
